* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/backgroundImg.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  color: rgba(245, 244, 244, 1);
  font-variant-numeric: lining-nums;
  overflow-y: hidden;
}

.container {
  width: 90%;
  height: 90vh;
  margin: 30px auto;
  padding: 20px 20px;
  border-radius: 8px;
  background-color: rgba(112, 112, 112, 0.1);
  backdrop-filter: blur(30px);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  flex: 2;
}

.header-search {
  flex: 1;
  position: relative;
  background: rgba(255, 255, 255, 0.806);
  border-radius: 8px;
  width: 100%;
  padding: 10px 15px;
  transition: 0.5s;

  &:hover {
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
}

.header-input {
  border: none;
  width: 100%;
  padding-right: 20px;
  font-size: 20px;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  color: rgb(53, 53, 53);
  outline: none;

  &::placeholder {
    color: rgb(47, 47, 47);
  }
}

.header-button {
  background: transparent;
  background-image: url(./images/search.png);
  width: 24px;
  aspect-ratio: 1 / 1;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    scale: 1.1;
    transition: 0.5s;
  }
}

.main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.weatherImg {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.left-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.city {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 15px;
}

.date {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 8px;
}

.temp {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10px;
}

.img {
  width: 60px;
  filter: brightness(0) invert(1);
}

.details {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;
}
.details-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  gap: 1em;
}

.info-bar {
  font-size: 2em;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .date {
    font-size: 1.5em;
  }

  .info-bar {
    font-size: 1.5em;
  }

  .details {
    flex-direction: column;
  }
}
